<div class="container">
    <h1 class="display-4 text-center">Criptografía Asimétrica - Algoritmo RSA</h1>

    <p class="lead text-center">Cifrado y descifrado de mensajes usando criptografía asimétrica con el algoritmo RSA</p>

    <hr class="my-4">

    <div class="my-3">
        <h1 class="display-6">Establecer valores</h1>
    </div>

    <div class="container">

        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="form-group row">
                    <label for="namePrimoP" class="font-weight-bold col-form-label col-md-5">Número primo <b>"p"</b> : </label>
                    <div class="col-md-7">
                        <input type="text" class="form-control col-md-4" [(ngModel)]="primoP" name="namePrimoP"
                            placeholder="" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="namePrimoQ" class="font-weight-bold col-form-label col-md-5">Número primo <b>"q"</b> : </label>
                    <div class="col-md-7">
                        <input type="text" class="form-control col-md-4" [(ngModel)]="primoQ" name="namePrimoQ"
                            placeholder="" readonly>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary" type="button" (click)='btnGenerarParPrimos()'>Generar números
                    primos</button>
            </div>
        </div>

        <br>

        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="form-group row">
                    <label for="nameModuloN" class="font-weight-bold col-form-label col-md-5">Calculamos <b>n = p * q </b> : </label>
                    <div class="col-md-7">
                        <input type="text" class="form-control col-md-4" [(ngModel)]="n" name="nameModuloN"
                            placeholder="" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="nameFiN" class="font-weight-bold col-form-label col-md-5">Calculamos <b>fi(n)=(p-1)*(q-1)</b> : </label>
                    <div class="col-md-7">
                        <input type="text" class="form-control col-md-4" [(ngModel)]="fiN" name="nameFiN"
                            placeholder="" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="nameClavePublicaE" class="font-weight-bold col-form-label col-md-5">Clave pública <b>"e"</b> : </label>
                    <div class="col-md-7">
                        <input type="text" class="form-control col-md-4" [(ngModel)]="clavePublicaE" name="nameClavePublicaE"
                            placeholder="" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="nameClavePrivadaD" class="font-weight-bold col-form-label col-md-5">Clave privada <b>"d"</b> : </label>
                    <div class="col-md-7">
                        <input type="text" class="form-control col-md-4" [(ngModel)]="clavePrivadaD" name="nameClavePrivadaD"
                            placeholder="" readonly>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary" type="button" (click)='btnCalcularModuloMYParDeClaves()'>Calcular</button>
            </div>
        </div>

    </div>

    <div class="my-5">
        <h1 class="display-6">Cifrar mensaje</h1>
    </div>

    <div class="row align-items-center">
        <div class="col-md-6">
            <textarea class="form-control" rows="5" placeholder="Texto a ser cifrado"[(ngModel)]="textACifrar"></textarea>
        </div>
        <div class="col-md-6">
            <textarea class="form-control" rows="5" placeholder=""[(ngModel)]="textCifrado" readonly></textarea>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-md-4 offset-md-4">
            <button class="btn btn-warning w-100" type="button" (click)='btnCifrarMensaje()'>Cifrar</button>    
        </div>
    </div>

    <div class="my-5">
        <h1 class="display-6">Descifrar mensaje</h1>
    </div>

    <div class="row align-items-center">
        <div class="col-md-6">
            <textarea class="form-control" rows="5" placeholder="Texto a ser descifrado"[(ngModel)]="textADescifrar"></textarea>
        </div>
        <div class="col-md-6">
            <textarea class="form-control" rows="5" placeholder=""[(ngModel)]="textDescifrado" readonly></textarea>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-md-4 offset-md-4">
            <button class="btn btn-danger w-100" type="button" (click)='btnDescifrarMensaje()'>Descifrar</button>    
        </div>
    </div>

    <div class="row my-4">
        <div class="col-md-3 offset-md-9">
            <button class="btn btn-dark btn-lg w-100" type="button" (click)='btnLimpiar()'>Limpiar Formulario</button>    
        </div>
    </div>
    

    <div class="my-5"></div>

</div>